<h3>Thanks!</h3>
<img src="http://i.imgur.com/iD36H.gif" alt="You're the best!">
<p>
You just tested my stripe integration! 
</p>
<a href="http://aquaranto.github.io/2014/06/23/HIREME2.html">Return to HIREMEv2.0</a>
