<h3>Welcome to my Stripe integration demo!</h3>
I'm <a href="http://twitter.com/aquaranto">Amanda Quaranto!</a><br></br>
Would you like to learn more about me? Visit <a href='http://aquaranto.github.io/2014/06/23/HIREME2.html'>my github page</a>.