<h3>Welcome to my Stripe integration demo!</h3>
<p>
I'm <a href="http://twitter.com/aquaranto">Amanda Quaranto </a>
Would you like to learn more about me? Visit<a href='http://0.0.0.0:4000/2014/06/23/HIREME2.html'>my github page</a>.
</p>